drwxrwxr-x root/root         0 2019-04-27 19:23 ansible.nginx-master/
-rw-rw-r-- root/root       539 2019-04-27 19:23 ansible.nginx-master/.travis.yml
-rw-rw-r-- root/root      1579 2019-04-27 19:23 ansible.nginx-master/LICENSE
-rw-rw-r-- root/root       782 2019-04-27 19:23 ansible.nginx-master/README.md
drwxrwxr-x root/root         0 2019-04-27 19:23 ansible.nginx-master/defaults/
-rw-rw-r-- root/root      2017 2019-04-27 19:23 ansible.nginx-master/defaults/main.yml
drwxrwxr-x root/root         0 2019-04-27 19:23 ansible.nginx-master/handlers/
-rw-rw-r-- root/root       108 2019-04-27 19:23 ansible.nginx-master/handlers/main.yml
drwxrwxr-x root/root         0 2019-04-27 19:23 ansible.nginx-master/meta/
-rw-rw-r-- root/root      2138 2019-04-27 19:23 ansible.nginx-master/meta/main.yml
drwxrwxr-x root/root         0 2019-04-27 19:23 ansible.nginx-master/tasks/
-rw-rw-r-- root/root       277 2019-04-27 19:23 ansible.nginx-master/tasks/Amazon.yml
-rw-rw-r-- root/root       506 2019-04-27 19:23 ansible.nginx-master/tasks/Debian.yml
-rw-rw-r-- root/root       504 2019-04-27 19:23 ansible.nginx-master/tasks/RedHat.yml
-rw-rw-r-- root/root      2621 2019-04-27 19:23 ansible.nginx-master/tasks/compile_nginx.yml
-rw-rw-r-- root/root       219 2019-04-27 19:23 ansible.nginx-master/tasks/create_dhparam.yml
-rw-rw-r-- root/root      1319 2019-04-27 19:23 ansible.nginx-master/tasks/install_from_binaries.yml
-rw-rw-r-- root/root      1837 2019-04-27 19:23 ansible.nginx-master/tasks/main.yml
drwxrwxr-x root/root         0 2019-04-27 19:23 ansible.nginx-master/templates/
-rw-rw-r-- root/root       374 2019-04-27 19:23 ansible.nginx-master/templates/404.html
-rw-rw-r-- root/root       576 2019-04-27 19:23 ansible.nginx-master/templates/50x.html
-rw-rw-r-- root/root       685 2019-04-27 19:23 ansible.nginx-master/templates/custom.conf.ini
-rw-rw-r-- root/root       154 2019-04-27 19:23 ansible.nginx-master/templates/default.conf.ini
-rw-rw-r-- root/root       465 2019-04-27 19:23 ansible.nginx-master/templates/errors.conf.ini
-rw-rw-r-- root/root      1833 2019-04-27 19:23 ansible.nginx-master/templates/nginx.conf.ini
-rwxrwxr-x root/root      2798 2019-04-27 19:23 ansible.nginx-master/templates/nginx.init.d.sh
-rw-rw-r-- root/root        95 2019-04-27 19:23 ansible.nginx-master/templates/nginx.log.conf.ini
-rw-rw-r-- root/root        98 2019-04-27 19:23 ansible.nginx-master/templates/nginx.repo.ami2.ini
-rw-rw-r-- root/root       108 2019-04-27 19:23 ansible.nginx-master/templates/nginx.repo.centos.ini
-rw-rw-r-- root/root       205 2019-04-27 19:23 ansible.nginx-master/templates/nginx.repo.debian.ini
-rw-rw-r-- root/root       286 2019-04-27 19:23 ansible.nginx-master/templates/nginx.service.ini
drwxrwxr-x root/root         0 2019-04-27 19:23 ansible.nginx-master/tests/
-rw-rw-r-- root/root        11 2019-04-27 19:23 ansible.nginx-master/tests/inventory
-rw-rw-r-- root/root        71 2019-04-27 19:23 ansible.nginx-master/tests/test.yml
