drwxrwxr-x root/root         0 2018-12-18 09:02 ansible.desktop-master/
-rw-rw-r-- root/root       356 2018-12-18 09:02 ansible.desktop-master/.gitlab-ci.yml
-rw-rw-r-- root/root       850 2018-12-18 09:02 ansible.desktop-master/.travis.yml
-rw-rw-r-- root/root      1059 2018-12-18 09:02 ansible.desktop-master/LICENSE
-rw-rw-r-- root/root      1201 2018-12-18 09:02 ansible.desktop-master/README.md
drwxrwxr-x root/root         0 2018-12-18 09:02 ansible.desktop-master/defaults/
-rw-rw-r-- root/root      3878 2018-12-18 09:02 ansible.desktop-master/defaults/main.yml
drwxrwxr-x root/root         0 2018-12-18 09:02 ansible.desktop-master/handlers/
-rw-rw-r-- root/root        40 2018-12-18 09:02 ansible.desktop-master/handlers/main.yml
drwxrwxr-x root/root         0 2018-12-18 09:02 ansible.desktop-master/meta/
-rw-rw-r-- root/root       359 2018-12-18 09:02 ansible.desktop-master/meta/main.yml
drwxrwxr-x root/root         0 2018-12-18 09:02 ansible.desktop-master/scripts/
-rw-rw-r-- root/root      5926 2018-12-18 09:02 ansible.desktop-master/scripts/Invoke-RemoveBuiltinApps.ps1
drwxrwxr-x root/root         0 2018-12-18 09:02 ansible.desktop-master/tasks/
drwxrwxr-x root/root         0 2018-12-18 09:02 ansible.desktop-master/tasks/distribution/
-rw-rw-r-- root/root        37 2018-12-18 09:02 ansible.desktop-master/tasks/distribution/Linux.yml
-rw-rw-r-- root/root      4699 2018-12-18 09:02 ansible.desktop-master/tasks/distribution/Windows.yml
-rw-rw-r-- root/root       117 2018-12-18 09:02 ansible.desktop-master/tasks/distribution/defaults.yml
-rw-rw-r-- root/root      1107 2018-12-18 09:02 ansible.desktop-master/tasks/main.yml
drwxrwxr-x root/root         0 2018-12-18 09:02 ansible.desktop-master/templates/
-rw-rw-r-- root/root      1411 2018-12-18 09:02 ansible.desktop-master/templates/StartLayouts.xml.j2
drwxrwxr-x root/root         0 2018-12-18 09:02 ansible.desktop-master/vars/
-rw-rw-r-- root/root        36 2018-12-18 09:02 ansible.desktop-master/vars/CentOS.yml
-rw-rw-r-- root/root        36 2018-12-18 09:02 ansible.desktop-master/vars/Debian.yml
-rw-rw-r-- root/root        36 2018-12-18 09:02 ansible.desktop-master/vars/Ubuntu.yml
-rw-rw-r-- root/root        36 2018-12-18 09:02 ansible.desktop-master/vars/defaults.yml
