drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/
-rw-rw-r-- root/root       850 2018-12-20 09:35 ansible.nginx-master/.travis.yml
-rw-rw-r-- root/root      1059 2018-12-20 09:35 ansible.nginx-master/LICENSE
-rw-rw-r-- root/root      1666 2018-12-20 09:35 ansible.nginx-master/README.md
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/defaults/
-rw-rw-r-- root/root      2956 2018-12-20 09:35 ansible.nginx-master/defaults/main.yml
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/handlers/
-rw-rw-r-- root/root       311 2018-12-20 09:35 ansible.nginx-master/handlers/main.yml
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/meta/
-rw-rw-r-- root/root       672 2018-12-20 09:35 ansible.nginx-master/meta/main.yml
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/tasks/
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/tasks/distribution/
-rw-rw-r-- root/root       443 2018-12-20 09:35 ansible.nginx-master/tasks/distribution/CentOS.yml
-rw-rw-r-- root/root       533 2018-12-20 09:35 ansible.nginx-master/tasks/distribution/Debian.yml
-rw-rw-r-- root/root      9054 2018-12-20 09:35 ansible.nginx-master/tasks/main.yml
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/templates/
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/templates/app/
-rw-rw-r-- root/root       210 2018-12-20 09:35 ansible.nginx-master/templates/app/laravel.j2
-rw-rw-r-- root/root       391 2018-12-20 09:35 ansible.nginx-master/templates/app/proxmox.j2
-rw-rw-r-- root/root        89 2018-12-20 09:35 ansible.nginx-master/templates/app/static.j2
-rw-rw-r-- root/root      1230 2018-12-20 09:35 ansible.nginx-master/templates/app/wordpress.j2
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/templates/conf/
-rw-rw-r-- root/root       172 2018-12-20 09:35 ansible.nginx-master/templates/conf/amplify.j2
-rw-rw-r-- root/root       215 2018-12-20 09:35 ansible.nginx-master/templates/conf/default.j2
-rw-rw-r-- root/root       862 2018-12-20 09:35 ansible.nginx-master/templates/conf/fastcgi.j2
-rw-rw-r-- root/root      1948 2018-12-20 09:35 ansible.nginx-master/templates/conf/gzip.j2
-rw-rw-r-- root/root      5261 2018-12-20 09:35 ansible.nginx-master/templates/conf/mine.types.j2
-rw-rw-r-- root/root      3042 2018-12-20 09:35 ansible.nginx-master/templates/conf/ssl.j2
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/templates/default/
-rw-rw-r-- root/root      1105 2018-12-20 09:35 ansible.nginx-master/templates/default/cache.j2
-rw-rw-r-- root/root       522 2018-12-20 09:35 ansible.nginx-master/templates/default/error.j2
-rw-rw-r-- root/root      1028 2018-12-20 09:35 ansible.nginx-master/templates/default/fastcgi_params.j2
-rw-rw-r-- root/root       532 2018-12-20 09:35 ansible.nginx-master/templates/default/header.j2
-rw-rw-r-- root/root       503 2018-12-20 09:35 ansible.nginx-master/templates/default/logs.j2
-rw-rw-r-- root/root       415 2018-12-20 09:35 ansible.nginx-master/templates/default/php.j2
-rw-rw-r-- root/root       762 2018-12-20 09:35 ansible.nginx-master/templates/default/status.j2
-rw-rw-r-- root/root      3482 2018-12-20 09:35 ansible.nginx-master/templates/nginx.j2
-rw-rw-r-- root/root      3754 2018-12-20 09:35 ansible.nginx-master/templates/site.j2
drwxrwxr-x root/root         0 2018-12-20 09:35 ansible.nginx-master/vars/
-rw-rw-r-- root/root       162 2018-12-20 09:35 ansible.nginx-master/vars/Debian.yml
-rw-rw-r-- root/root       167 2018-12-20 09:35 ansible.nginx-master/vars/RedHat.yml
-rw-rw-r-- root/root        38 2018-12-20 09:35 ansible.nginx-master/vars/defaults.yml
