drwxrwxr-x root/root         0 2017-12-14 07:03 Stouts.nginx-master/
-rw-rw-r-- root/root        89 2017-12-14 07:03 Stouts.nginx-master/.bumpversion.cfg
-rw-rw-r-- root/root       695 2017-12-14 07:03 Stouts.nginx-master/.travis.yml
-rw-rw-r-- root/root       202 2017-12-14 07:03 Stouts.nginx-master/CONTRIBUTORS
-rw-rw-r-- root/root      1072 2017-12-14 07:03 Stouts.nginx-master/LICENSE
-rw-rw-r-- root/root       315 2017-12-14 07:03 Stouts.nginx-master/Makefile
-rw-rw-r-- root/root      3181 2017-12-14 07:03 Stouts.nginx-master/README.md
drwxrwxr-x root/root         0 2017-12-14 07:03 Stouts.nginx-master/defaults/
-rw-rw-r-- root/root      2406 2017-12-14 07:03 Stouts.nginx-master/defaults/main.yml
drwxrwxr-x root/root         0 2017-12-14 07:03 Stouts.nginx-master/files/
-rw-rw-r-- root/root       109 2017-12-14 07:03 Stouts.nginx-master/files/nginx.repo
drwxrwxr-x root/root         0 2017-12-14 07:03 Stouts.nginx-master/handlers/
-rw-rw-r-- root/root       158 2017-12-14 07:03 Stouts.nginx-master/handlers/main.yml
drwxrwxr-x root/root         0 2017-12-14 07:03 Stouts.nginx-master/meta/
-rw-rw-r-- root/root       250 2017-12-14 07:03 Stouts.nginx-master/meta/main.yml
-rwxrwxr-x root/root      1037 2017-12-14 07:03 Stouts.nginx-master/runtests.sh
drwxrwxr-x root/root         0 2017-12-14 07:03 Stouts.nginx-master/tasks/
-rw-rw-r-- root/root       338 2017-12-14 07:03 Stouts.nginx-master/tasks/install.deb.yml
-rw-rw-r-- root/root       300 2017-12-14 07:03 Stouts.nginx-master/tasks/install.red.yml
-rw-rw-r-- root/root        69 2017-12-14 07:03 Stouts.nginx-master/tasks/main.yml
-rw-rw-r-- root/root       833 2017-12-14 07:03 Stouts.nginx-master/tasks/nginx.yml
drwxrwxr-x root/root         0 2017-12-14 07:03 Stouts.nginx-master/templates/
-rw-rw-r-- root/root      1788 2017-12-14 07:03 Stouts.nginx-master/templates/nginx.conf.j2
-rw-rw-r-- root/root       141 2017-12-14 07:03 Stouts.nginx-master/test.yml
drwxrwxr-x root/root         0 2017-12-14 07:03 Stouts.nginx-master/vars/
-rw-rw-r-- root/root        28 2017-12-14 07:03 Stouts.nginx-master/vars/Debian.yml
-rw-rw-r-- root/root         5 2017-12-14 07:03 Stouts.nginx-master/vars/Ubuntu.yml
