drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/
drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/.idea/
-rw-rw-r-- root/root       663 2017-04-19 15:09 ansible.nginx-master/.idea/ansible.nginx.iml
-rw-rw-r-- root/root       538 2017-04-19 15:09 ansible.nginx-master/.idea/deployment.xml
-rw-rw-r-- root/root       159 2017-04-19 15:09 ansible.nginx-master/.idea/encodings.xml
drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/.idea/inspectionProfiles/
-rw-rw-r-- root/root       406 2017-04-19 15:09 ansible.nginx-master/.idea/inspectionProfiles/Project_Default.xml
-rw-rw-r-- root/root       278 2017-04-19 15:09 ansible.nginx-master/.idea/modules.xml
-rw-rw-r-- root/root       180 2017-04-19 15:09 ansible.nginx-master/.idea/vcs.xml
-rw-rw-r-- root/root       308 2017-04-19 15:09 ansible.nginx-master/README.md
drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/defaults/
-rw-rw-r-- root/root        29 2017-04-19 15:09 ansible.nginx-master/defaults/main.yml
drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/handlers/
-rw-rw-r-- root/root        87 2017-04-19 15:09 ansible.nginx-master/handlers/main.yml
drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/meta/
-rw-rw-r-- root/root       243 2017-04-19 15:09 ansible.nginx-master/meta/main.yml
drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/tasks/
-rw-rw-r-- root/root       717 2017-04-19 15:09 ansible.nginx-master/tasks/main.yml
drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/templates/
-rw-rw-r-- root/root       117 2017-04-19 15:09 ansible.nginx-master/templates/ansible.conf.j2
-rw-rw-r-- root/root        88 2017-04-19 15:09 ansible.nginx-master/templates/index.html.j2
drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/tests/
-rw-rw-r-- root/root        11 2017-04-19 15:09 ansible.nginx-master/tests/inventory
-rw-rw-r-- root/root        63 2017-04-19 15:09 ansible.nginx-master/tests/test.yml
drwxrwxr-x root/root         0 2017-04-19 15:09 ansible.nginx-master/vars/
-rw-rw-r-- root/root        25 2017-04-19 15:09 ansible.nginx-master/vars/main.yml
